/* GLOBAL STYLING
/******************************************************************************/

body {
  height: 100%;
  width: 100%;

  margin: 0;
  padding: 0;

  font-family: 'Fira Mono', monospace;
}

a {
  /* we are the future; blue links are the past */
  color: #fff;
  text-decoration: none;
}

.button {
  padding: 10px;

  background-color: #fff;
  border: medium solid #202729;

  color: #202729;
  text-align: center;
}

.button:hover {
  color: #fff;
  background-color: #202729;
}

.button#totop {
  position: fixed;
  min-width: 32px;
  width: 5vw;

  /* put totop above everything */
  z-index: 1000;

  margin: 0;
  top: 20px;
  left: 20px;
}

/* STRUCTURE
/******************************************************************************/

/* section                  = table      *
 * section .column          = table-cell *
 * section .column .content = block      */

section {
  display: table;
  height: 100vh;
  width: 100%;

  /* pad without increasing size of section */
  box-sizing: border-box;
  padding: 0 32px 0 32px;

  /* dots have transparency; set background color explicitly */
  background-image: url("resources/dots.png");
  background-color: #f7f7f7;
  color: #000;
}

/* every other section is .dark */
section.dark {
  background-image: url("resources/negativedots.png");
  color: #fff;
}

/* DESCENDENTS OF #landing
/******************************************************************************/

/* section#landing deviates from section structure */
section#landing > * {
  display: table;

  /* center children of #landing; children specify size */
  margin: auto;
}

section#landing #nav {
  /* prevent children's backgrounds from overriding border-radius */
  overflow: hidden;

  background-color: #202729;
  border-radius: 0px 0px 5px 5px;

  white-space: nowrap; /* ensure nav bar is always on one line */
  color: #fff;
}

section#landing #nav a {
  display: table-cell;
  padding: 10px 15px 10px 15px;
}

section#landing #nav a:hover {
  background-color: #000;
}

section#landing #maintitle {
  margin-top: 25vh;

  color: #202729;
  font-size: 8em;
}

section#landing #tagline {
  margin-top: 5vh;
  margin-bottom: 3vh;
  padding: 10px 15px 10px 15px;

  background-color: #202729;
  border-radius: 5px;

  color: #fff;
  text-align: center;
}

/* .column
/******************************************************************************/

section .column {
  display: table-cell;
  max-width: 0;
  min-height: 100px;

  padding-bottom: 4%;
  padding-top: 4%;

  text-align: center;
  vertical-align: top;
}

/* DESCENDENTS OF .column
/******************************************************************************/

section .column .content {
  width: 80%;

  margin: 4% auto 0;
  box-sizing: border-box;
  padding: 5% 10% 5% 10%;

  border-radius: 10px 10px 10px 10px;
  background-color: #202729;
  text-align: justify;
  color: #f7f7f7;
}

section.dark .column .content {
  background-color: #f7f7f7;
  color: #202729;
}

section .column:first-child {
  margin-top: 0;
}

section .column .content a {
  text-decoration: underline;
}

section .column .content ul, li {
  list-style-type: none;
  list-style-position: outside;

  margin-bottom: 10px;
  margin-top: 10px;
  padding: 0;
}

section .column .content .columntitle {
  font-size: 2em;
  margin-bottom: 5%;
  font-weight: bold;
}

/* MISCELLANEOUS
/******************************************************************************/

.pronunciation {
  margin-top: -5%;
  margin-bottom: 5%;
}
