body {
  margin: 0px;
  background-image: url("resources/dots.png");
  background-repeat: repeat;
  font-family: 'Fira Mono', monospace;
  text-align: center;
}

#nav {
  background-color: #202729;
  color: #fff;
  width: 400px;
  margin: auto;
  left: 0;
  right: 0;
  padding: 10px;
  text-align: center;
  border-radius: 0px 0px 5px 5px; 
}

#nav li {
  display: inline;
  padding: 10px;
}

a {
  color: #fff;
  text-decoration: none;
}

h1 {
  font-size: 64px;
  color: #202729;
  margin-top: 200px;
}

section {
  height: 100vh;
}

#tagline {
  text-align: center;
  margin: auto;
  left: 0;
  right: 0;
  width: 800px;
  padding: 10px 0px 10px 0px;
  background-color: #202729;
  color: #fff;
  border-radius: 5px;
}

#createprofile {
  margin: auto;
  left: 0;
  right: 0;
  margin-top: 20px;
  color: #202729;
  background-color: #fff;
  padding: 10px;
  border-style: solid;
  border-color: #202729;
}

#createprofile:hover {
  color: #fff;
  background-color: #202729; 
}

.dark {
  background-image: url("resources/negativedots.png");
}

.block {
  background-color: #202729;
  width: 300px;
  height: 300px;
  color: white;
  float: left;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 25vh;
}

.dark.desc.block {
  background-color: #202729;
  color: white;
}

.desc {
  width: 80%;
  margin: auto;
  left: 0;
  right: 0;
}


#how {
  text-align: center;
}


